#!/usr/bin/env xdg-open
[Desktop Entry]
#Exec=<path/to/this/directory/albums.sh>
Exec=/home/bill/Public/albums/albums.sh
Name=Albums
GenericName=Albums
Comment=start albums server
Encoding=UTF-8
Terminal=true
Type=Application
Categories=Application
