<% layout('/layouts/boilerplate') %>
    <h1><%= id %> </h1>
    <% for(let pic of stripPics){ %>
            <div class="mx-auto my-5">
                <img src="/<%= id %>/<%= pic  %>" class="card-img-top" style="box-shadow:7px 10px 12px -5px rgba(0,0,0,0.56); border-radius: 10px" alt="...">
            </div>
            <%} %>
                    <a id="back-to-top" href="#" style="position:fixed;bottom:25px;right:25px;" class="btn btn-secondary btn-lg" role="button"><i class="fa fa-chevron-up"></i></a>
